@font-face {
    font-family: "Bebas-Regular";
    src: url(./3979.ttf);
}

@font-face {
    font-family: "StMarie-ExtraLight";
    src: url(./StMarie-ExtraLight.ttf);
}

@font-face {
    font-family: "Calibri";
    src: url(./Calibri.ttf);
}