body {
    display: grid;
    grid-template-columns: 1fr 1600px 1fr;
    grid-template-rows: 130px auto 73px;
    grid-template-areas:
        ". header ."
        ". main   ."
        ". footer .";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}



